.s7r-debug-infos-dragonglass-header.s7r-canvas-header.layout-align-start-center.layout-row.flex {
  display: none;
}
body {
  margin-top: -100px;
  background-color: rgba(63, 191, 228, 1);
  color: rgba(63, 191, 228, 1);
}
.button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button {
  background-color: white;
  color: rgba(63, 191, 228, 1);
  border: 2px solid #ffffff;
  height: 130px;
  width: 160px;
  border-radius: 16%;
}

.general-body {
  margin-top: 3%;
}

.general-body p {
  margin-bottom: 7rem;
  font-size: 30px;
}

.general-body textarea {
  border: 1px solid rgb(250, 249, 249);
  margin-top: -25px;
  width: 100%;
  margin-left: 170px !important;
}

.button:hover {
  background-color: rgba(63, 191, 228, 1);
  color: white;
}

.btn-back {
  height: 80px !important;
  border-radius: 0%;
}

.btn-next {
  float: right;
  height: 80px;
  border-radius: 0%;
}

.btn-accept {
  border-radius: 50%;
  height: 150px;
  float: right;
  width: 100px;
  margin-bottom: -50px;
}

/* screen 0100 */

.top-title {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 15px;
}

.top-title h3 {
  font-size: 2.75rem;
}

.top-title p {
  font-size: 2.15rem;
  text-align: center;
  color: #fff;
}
.btn-top {
  height: 200px;
  width: 220px;
}

/* 3000 4000*/
.btn-back-new {
  margin-left: -84px;
  margin-top: -5px;
  width: 138px;
  height: 138px;
  background: rgb(255, 255, 255);
  color: rgba(63, 191, 228, 1);
  border-radius: 0 0 138px 0;
  -moz-border-radius: 0 0 100px 0;
  -webkit-border-radius: 0 0 100px 0;
}
#row-qa {
  margin-bottom: -10px;
}
.btn-sort-new,
.btn-sort-view {
  height: 75px;
  float: left;
  width: 200px;
  margin-left: 88px;
  border-radius: 40px;
}

.box-qa {
  border: 1px solid;
  padding: 5px;
  font-size: 25px;
  margin-left: 90px;
  border-radius: 25px;
  background-color: #fff;
}

.box-qa hr {
  border: 1px dotted;
}

.box-qa li {
  padding: 5px;
  list-style: none;
}

.box-qa li p {
  text-align: center;
}

/* 3100 */
#circle {
  height: 25px;
  width: 25px;
  background-color: rgba(63, 191, 228, 1);
  border-radius: 50%;
  float: left;
  margin-top: 7px;
}
.row-qa {
  margin-top: -65px;
}
#time {
  float: right;
  font-size: 15px;
}
