<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/plugin/jquery.min.js"></script>
  <script src="js/plugin/popper.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="js/plugin/interactive_canvas.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 back data-choice">
            </div>
            <div class="top-title col-sm-9">
                <p class="expert-title" id="title"></p>
                <p class="first-key-word" id="first-key-word-2300"></p>
            </div>
        </div>
        <div class="row row-top ">
            <ul class="data-choice row staff-type-list" id="staff-type-list">
            </ul>
        </div>
    </div>
    <script src="js/data2x10.js"></script>
</body>

</html>
