<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/plugin/jquery.min.js"></script>
    <script src="js/plugin/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugin/interactive_canvas.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 back data-choice">
                <button type="button" class="button btn-back data-choice"></button>
            </div>
            <p class="col-sm-6 title-2400" id="title"></p>
            <div class="col-sm-3">
                <button type="button" class="button btn-next data-choice"></button>
            </div>
            <div class="row data-choice general-body">
                <textarea name="input-2400" disabled id="input-2400" class="input-text-2400" cols="70" rows="9"></textarea>
            </div>
        </div>
    </div>
    <script src="js/data2x00.js"></script>
</body>

</html>