<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/plugin/jquery.min.js"></script>
    <script src="js/plugin/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugin/interactive_canvas.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 back data-choice">
            </div>
            <div class="top-title col-sm-9">
                <p class="free-search-title " id="title"></p>
            </div>
            <div class=" col-sm-9">
                <p class="col-sm-5 free-search-name" id="name"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 free-search-detail">
                <p id="detail"></p>
            </div>
        </div>
    </div>

    <script src="js/data2x20.js"></script>
</body>

</html>