<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/plugin/jquery.min.js"></script>
    <script src="js/plugin/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugin/interactive_canvas.min.js"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 back data-choice">
                <!-- backbutton -->
            </div>
            <div class="top-title col-sm-9">
                <p id="title"></p>
                <button type="button" class="button btn-sort-new" onclick="sort(2)">新しい順</button>
                <button type="button" class="button btn-sort-view" onclick="sort(1)">閲覧数順</button>
            </div>
        </div>
        <div class="row row-top data-choice" id="row-qa">
        </div>
    </div>
    <script src="js/data3xxx.js"></script>
</body>

</html>