<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
  <script src="js/plugin/jquery.min.js"></script>
  <script src="js/plugin/popper.min.js"></script>
  <script src="js/bootstrap/bootstrap.min.js"></script>
  <script src="js/plugin/interactive_canvas.min.js"></script>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm-2 back data-choice">
      <!-- back button -->
    </div>
    <div class="top-title-detail-answer top-title col-sm-9"> 
      <p id="title"></p>
    </div>
  </div>
    <div class="row " >
      <div class="question-area col-sm-12">
          <img class="col-sm-2" src="./images/pantient.png" alt="">
          <div class="box-question col-sm-8">
              <p>Q:</p>
              <p id="question"></p>
          </div>
      </div>
      <div class="answer-area col-sm-12">
          <div class="box-answer col-sm-8">
              <p>A:</p>
              <p id="answer"></p>
          </div>
          <img class="col-sm-2" src="./images/doctor.png" alt="">
      </div>
    </div>
  </div>
  <script src="js/data3xxx.js"></script>
</body>
</html>
