<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <script src="js/plugin/jquery.min.js"></script>
    <script src="js/plugin/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/plugin/interactive_canvas.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-2 back data-choice">
                <!-- back button -->
            </div>
            <div class="top-title col-sm-10">
                <p class="help-title"></p>
            </div>
        </div>
        <div class="row row-help ">
            <p class="col-sm-9 help-text"></p>
            <img class="col-sm-6 hepl-qr" alt="" src="./images/qrcode.png">
            <p class="col-sm-12 hepl-qr-title"></p>
            <p class="col-sm-9 help-text-bottom"></p>
        </div>
    </div>
    <script src="js/help5000.js"></script>
</body>
</html>